<div name="header">
    <h3>{{'APP.HOME.HEADER_INTRO' | translate}}</h3>
    <div name="SiteAuthor" class="offset">
        <h1>{{'SITE_AUTHOR' | translate}}</h1>
    </div>
    <div name="Contact Info"> 

    </div>
</div>


<!-- Try for a card like effect that looks kind of like one long scroll. Separate sections with a section line-->
<div id="HomeContents" class="SitePage">
    <mat-accordion>
        <!-- About Me Section, Also talks about the site-->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'APP.HOME.ABOUT.SECTION_TITLE' | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-about></app-about>
        </mat-expansion-panel>

        <!-- Skills section -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'APP.HOME.SKILLS.SECTION_TITLE' | translate}}
                </mat-panel-title>

            </mat-expansion-panel-header>
            <app-skills></app-skills>
        </mat-expansion-panel>
        <!-- Projects  Section -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'APP.HOME.PROJECTS.SECTION_TITLE' | translate}}
                </mat-panel-title>

            </mat-expansion-panel-header>
            <app-projects></app-projects>
        </mat-expansion-panel>

    </mat-accordion>
</div>