<div name="header">
    <h3>Hi, welcome to the site of</h3>
    <div name="SiteAuthor" class="offset">
        <h1>Lintao Yin</h1>
    </div>
</div>


<!-- Try for a card like effect that looks kind of like one long scroll. Separate sections with a section line-->
<div id="HomeContents" class="SitePage">
    <!-- About Me Section, Also talks about the site-->
    <app-about></app-about>
    <!--Skills Box with switch between fancy and simple displays-->
    <app-skills></app-skills>
    <!--Simple list of projects sorted and arranged by date, use expansion panels-->
    <app-projects></app-projects>
</div>
