<!-- Will have to make ourselves? shouldn't be too bad-->
<div name="Image Carousel"></div>

<div name="Site Description">
    <p>
        {{'APP.HOME.ABOUT.SITE' | translate}}
    </p>
    <mat-slide-toggle>{{'APP.HOME.ABOUT.TECHNOLOGY_SLIDER' | translate}}</mat-slide-toggle>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    TEST
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>

</div>

<div name="About Me">
    <!--Find a new image or something and place here-->
    <p>
        {{'APP.HOME.ABOUT.SELF' | translate}}
    </p>
    <p>
        {{'APP.HOME.ABOUT.CURRENT' | translate}}
    </p>
    <p>
        {{'APP.HOME.ABOUT.DRIVE' | translate}}
    </p>
    <div name="Goals">
        <p>
            {{'APP.HOME.ABOUT.GOALS' | translate}}
        </p>
        <!-- List of goals with completion dates and checks-->
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        TEST
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <p>
        {{'APP.HOME.ABOUT.CONCLUSION' | translate}}
    </p>
</div>