<!-- Will have to make ourselves? shouldn't be too bad-->
<div name="Image Carousel"></div>

<div name="Site Description">
    <p>
        {{'APP.HOME.ABOUT.SITE' | translate}}
    </p>
    <!--Create a hidden list of all libraries used with links-->
</div>

<div name="About Me">
    <!--Find a new image or something and place here-->
    <p>
        {{'APP.HOME.ABOUT.SITE_AUTHOR' | translate}}
    </p>
    <p>
        {{'APP.HOME.ABOUT.SELF' | translate}}
    </p>
    <p>
        {{'APP.HOME.ABOUT.CURRENT' | translate}}
    </p>
    <p>
        {{'APP.HOME.ABOUT.DRIVE' | translate}}
    </p>
    <div name="Goals">
        <p>
            {{'APP.HOME.ABOUT.GOALS' | translate}}
        </p>
        <!-- List of goals as a disabled checklist with expandable dates and explanation-->
    </div>
    <p>
        {{'APP.HOME.ABOUT.CONCLUSION' | translate}}
    </p>
</div>

